* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
/*nav bar*/
.active{
    text-decoration: none;
    color: #777;
    padding: .125%;
    background-color: #121214;
    margin-right: -4px;
    font-size: 120%;
}
.top-nav a:hover{
    font-size: 100%;
    color: #000000;
    background-color: #727272dc;
}

header{
    position: fixed;
    width: 100%;
    font-size: 20px;
}

div{
    text-align: center;
}
.Home{
    background-image: url(KLNightView.jpg);
    background-size: 100%;
    background-position: 100%;
    width: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    padding-bottom: 10%;
}

.n00t{
    padding-top: 15%;
    color: #ffffff;
    font-size: 100%;
    font-size: 150%;
}


/*content*/
.about{
    padding-top: 264px;
    min-height: 550px;
    word-wrap: break-word;
    padding-left: 25%;
    padding-right: 25%;
}
.Portfolio{
    padding-top: 64px;
    min-height: 550px;
}
.container{
    column-count: 3;
    max-width: 2500px;
    margin: 0 auto;
    padding: 30px;
}
.pics{
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
    padding: 5px;

}
.pics:hover {
    -webkit-transform:scale(1); /*both 1.2.*/
    transform:scale(1);
}
.Contact{
    margin-top: 164px;
}
/*Footer*/
footer{
    margin-top: 20%;
    padding: 1%;
    background-color: #f1f1f1;
    text-align: center;
    color: black;
}
i:hover{
    color: #949494;
}
.Footer_Text{
        text-decoration: none;
        color: #777;
        padding: .125%;
}
